/* .C-left{
    background-color: rgb(27, 112, 27);
    /* cursor: pointer; */
    /* color: white;
    padding: 5px;
    margin-top: 5px; */
/* } */
/* .C-left h3{
    padding:0;
    margin:0;
} */
body {
	min-width: 1000px;
}
p {
	line-height: 1.5;
	margin-bottom: 15px;
}

.row {
	margin: 0;
}

.no-padding {
	padding: 0px;
}
/* .no-margin {
	margin: 0;
} */
.no-border {
	border: none;
}
.no-vertical-border {
	border-left: none;
	border-right: none;
}

.panel {
	margin: 0 auto;
}
/* .list-group-item {
	margin-bottom: auto;
	margin-top: -1px;
} */

a.list-group-item{
    background-color: rgb(247, 243, 243);
	 color: rgb(43, 42, 42);
	 border: 1px solid #ddd;
	 border-left: none;
	 border-right: none;
}

a.list-group-item:hover {
    background-color: #c0c0c0;
    border: 1px solid rgb(104, 103, 103);
    border-left: none;
    border-right: none;
    color: #555;
}
