.coordinators-subheading{
    margin-top: 100px;
    background: linear-gradient(#0079A5, #036588);
    height: 40px;
    width: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    font-size: 15px;
    border-radius: 15px;
}

.coordinators-subheading:before {
	content: "";
	position: absolute;
	height: 15px;
	width: 15px;
	bottom: -14px;
	left:4%;
	background-color: #036588;
	clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.box {
    width:100%;
    display: flex;
}