.navbar{
    background-color: #016401;
    /* height: 70px; */
    width:100% !important; 
    position: fixed;
    z-index:999;
}
.nav-link{
    color:white !important;
    font-family:Helvetica ;
    padding:12px;
    font-size:16px;
    font-weight: 700;
}
.nav-link:hover,.nav-link a.active{
    color: black !important;
}

.menu .active{
    color:#016401 !important;
    opacity: 10% !important;
}

.hove:hover{
	background-color: transparent;
}

.reg:hover{
    color:#298FCF !important;
}
