.column {
  width: 20%;
  padding: 10px;
  margin: auto;
}
.row{
  display: flex;
  overflow: hidden;
  padding: 20px;
}

.companies-logo{
  transition: .3s;
}
.companies-logo:hover{
  transform: scale(1.5);
  border-radius: 3px;
}

