.column {
  float: left;
  width: 20%;
  padding: 10px;
  margin: auto;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.companies-logo{
  height:auto;
  transition: .3s;
  width:120px;
}
.companies-logo:hover{
  transform: scale(1.5);
  border-radius: 3px;
}