.skill{
    background: white;
    padding:2% 5% 2% 5%;
    margin:2%;
    display: inline-block;
    border-radius: 23px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.modal .modal-content{
    padding: 0px !important;
    border-radius: 0px 50px 0px 50px;
}
.modal-head{
    background-color: blue;
    color:white;
    border-radius: 0px 50px 0px 50px;
}

