.nav_heads{
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav_head{
   
    border-radius: 35px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tab_btn{
    width:185px;
    padding:10px;
    text-align: center;
    margin:5px;
}


.tab_btn.active{
    background-color: purple;
    color:white;
    padding: 10px;
    border-radius: 40px;
    transform: transition slide-linear 2s ease-out;
}


@keyframes slide-linear {
    0% { opacity: 0; transform: translateX(100%); }
    100% { opacity: 1; transform: translateX(0); }
}