.content{
    font-weight: 500;
    color:#272727;
}

@media (max-width: 768px)
{
    .card-coordinators{
        width:230px;
    }
    .st_image{
        display: flex;
        justify-content: center;
        /* padding-left: 50px; */
    }
    .content{
        font-size:16px;

    }
}